---
layout: compress
---
<style>
  .expandable-content {
    display: none;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.expandable-button').forEach(button => {
      button.addEventListener('click', event => {
        const targetContentId = event.target.getAttribute('data-target');
        const targetContent = document.getElementById(targetContentId);
        targetContent.style.display = targetContent.style.display === 'block' ? 'none' : 'block';
      });
    });
  });
</script>


<link rel="stylesheet" href="{{ page.css }}">

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
