---
layout: compress
---
<style>
  details {
    font-size: 16px;
  }

  summary {
    list-style: none;
    outline: none;
    cursor: pointer;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::before {
    content: "▶";
    display: inline-block;
    margin-right: 6px;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease;
  }

  details[open] > summary::before {
    transform: rotate(90deg);
  }
</style>

<details>
  <summary>Click to expand or collapse</summary>
  <div class="expandable-content">
    Your expandable content goes here...
  </div>
</details>


<link rel="stylesheet" href="{{ page.css }}">

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
